
html{
    margin:0px;
    padding: 0px;
            /* font-family: "Montserrat", sans-serif; */
}
*{
    font-family: "Roboto Slab", serif;

}
.container-fluid{
    padding: 0px;
}
/* home page  */

.Bimg{
    background-image: url('src/back.jpg');
    height: 130vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.abt, .services,.feedback{
    font-size: 14px;
    letter-spacing: 3px;
    color: orangered;
}

/* About page  */

.AImg{
    background-image: url('./src/about.jpg');
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* Service Page  */

.SImg{
    background-image: url('./src/services.jpg');
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.ser-section{
    background-image:url('./src/services.jpg');
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
ul li a:hover{
    text-decoration: underline;
}

ul li:hover{
    text-decoration: underline;
}

/* box-shadow */

.about-container, .service-container, .feedback-container,.team-container, .contact-container{
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
}


iframe{
    width: 300px;
    height: 500px;
}



